# Database
DATABASE_URL="postgresql://kurir:kurir@localhost:5432/kurir"

# NextAuth
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Encryption key for storing email passwords (generate with: openssl rand -base64 32)
ENCRYPTION_KEY="your-encryption-key-here"
